*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, #08001f, #30197d);
    position: relative;
}
.container{
    width: 48rem;
    height: 11.2rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.clock{
    width: 100%;
    height: 100%;
    background-color: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.clock span{
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    width: 110px;
    position: relative;
}
.clock span::after{
    font-size: 1rem;
    position: absolute;
    bottom: -5px;
    left: 57%;
    transform: translateX(-50%);
}
#hrs::after{
    content: "HOURS";
}
#min::after{
    content: "MIN";
}
#sec::after{
    content: "SEC";
}
@media (max-width: 810px){
    .container{
        width: 38rem;
    }
    .clock span{
        font-size: 4.2rem;
    }
    .clock span::after{
        font-size: 0.9rem;
    }
}
@media (max-width: 640px){
    .container{
        width: 30rem;
    }
    .clock span{
        font-size: 3.2rem;
    }
    .clock span::after{
        font-size: 0.9rem;
        bottom: -12px;
    }
}
@media (max-width: 490px){
    .container{
        width: 26rem;
    }
    .clock span{
        font-size: 3.2rem;
    }
    .clock span::after{
        font-size: 0.9rem;
        bottom: -12px;
    }
}
@media (max-width: 430px){
    .container{
        width: 22rem;
        height: 10.2rem;
    }
    .clock span{
        font-size: 2.8rem;
    }
    .clock span::after{
        font-size: 0.8rem;
    }
}